h1 {
  margin: 2%;
  font-size: 80px;
}

.link {
  border: solid 2pt pink;
  padding: .5%;
  margin: 1%;
  font-size: 40px;
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
